@import url("https://www.fontshare.com/fonts/trench-slab");

:root {
  --font-base: ""DM Sans", sans-serif";

  --primary-color: #edf2f8;
  --secondary-color: #36454F;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  /* font-family: Trench Slab; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
